body {
    font-family: sans-serif;
}
nav {
    background: aliceblue;
    width: 20em;
    margin-left: -12em;
}
nav:hover { margin-left: 0em;}

img {
    height: 200px;
}
article {
    margin-left: 3em;
}
h1 {
    text-align: center;
    font-size: 50px;
}
h1, h2 {
    color: white;
    background: orange;
}

table {
    margin-left: 2em;
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid grey;
}

td.ingredient {
    text-align: left;
    padding-right: 1em;
}

td.amount {
    text-align: right;
    padding-left: 1em;
}